<div class="url-shortener">
  <mat-card>
    <mat-card-title >Generate your own short url</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>URL</mat-label>
          <input matInput required placeholder="Enter URL" [(ngModel)]="url" name="url">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Alias</mat-label>
          <input matInput placeholder="Enter Alias (optional)" [(ngModel)]="alias" name="alias">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Expiration Date</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Select Expiration Date" [(ngModel)]="expireDate" name="expireDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="disabled" (click)="generateShortUrl()">Generate Short</button>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="createdAlias">
    <mat-card-title>Generated url</mat-card-title>
    <mat-card-content>
      <a [href]="createdAlias.shortUrl">{{ createdAlias.shortUrl }}</a>
      <button mat-raised-button color="accent" (click)="copyToClipboard(createdAlias.shortUrl)">Copy to Clipboard</button>
    </mat-card-content>
  </mat-card>
</div>
